<section class="auth-page-wrapper auth-bg-cover    d-flex align-items-center justify-content-center">
  <video autoplay loop muted class="bg-video">
    <source src="assets/video/Practice_Area_optim.mp4" type="video/mp4">

  </video>

  <div class="container-fluid h-100    px-0">
    <div class="row g-0">
      <div class="col-xl-8    col-lg-8 ">
        <div class="h-100  mb-0 p-4 d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <div class="">
              <img alt="" class="ms-1" height="58" src="assets/images/Dore%20Hub.svg"/>

              <div class=" mt-5">
                <p class="log-head">All the tools you need,
                </p>
                <p class="log-head">
                  in one place.</p>

                <p class="log-reg mt-3">
                  Welcome to the DORE HUB Firm Tools! You can access all your tools by signing in.<br>
                  If you have any questions or need help accessing your account,<br> please get in touch with the
                  support team.
                </p>

              </div>
            </div>

          </div>


        </div>
      </div>
      <!--end col-->
      <div class="col-xl-4 col-lg-4 " style=" ">
        <div class="card h-100 border-0 mb-0 py-0 " style="    background-color: rgba(255, 255, 255, 0.76); backdrop-filter: blur(16px) brightness(114%); height: 100vh !important; ">
          <div class="card-body p-0 p-sm-5 m-lg-1 d-flex flex-column justify-content-center">
            <img alt="" class="ms-1" height="28" style="width: 200px;"  src="assets/images/DP_Logo.svg"/>
            <div class="text-success mt-5">

              <h5 class="text-primary-s fs-36">Sign In</h5>
              <p class="text-muted-s mt-3">Click below to sign in with your Dore <br>Partnership Microsoft Account</p>
            </div>
            <div class=" mt-5">

              <!-- Login Firm Tool -->

              <div class="mt-5"><div class="d-grid gap-2">
                <button (click)="onSignIn()" class="btn btn-primary w-100 fs-12" type="submit"><span><svg height="20"
                                                                               viewBox="0 0 27 27" width="20"
                                                                               xmlns="http://www.w3.org/2000/svg">
  <path d="M17.325,31.5H4.5V18.675H17.325Zm14.175,0H18.675V18.675H31.5ZM17.325,17.325H4.5V4.5H17.325Zm14.175,0H18.675V4.5H31.5Z"
        fill="#fff"
        id="bxl-microsoft" transform="translate(-4.5 -4.5)"/>
</svg>
                  </span>&nbsp;&nbsp;Sign in with Microsoft Account
                </button>
              </div> </div>

            </div>
          </div>
          <!-- end card body -->
        </div>
        <!-- end card -->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
