// _pages.scss

.selling-product {

    .swiper-button-next,
    .swiper-button-prev {
        left: 0px !important;
        right: auto !important;
    }

    .swiper-button-prev {
        left: 35px !important;
        right: auto !important;
    }

}

.animation-effect-6 {
    left: 4%;
    right: auto;

    &.left {
        right: 4%;
        left: auto;
    }
}

.animation-effect-3 {
    right: 35%;
    left: auto;

    &.left {
        right: 35%;
        left: auto;
    }
}

.animation-effect-4 {
    right: auto;
    left: 30%;

    &.left {
        right: 30%;
        left: auto;
    }
}


.layout-rightside {
    margin-left: calc(0px - #{$grid-gutter-width} * 1.2);
    margin-right: auto;
}

.layout-rightside-col {

    @media (max-width: 1699.98px) {
        left: 0px;
        right: auto;

        .layout-rightside {
            margin-right: auto;
            margin-left: calc(0px - #{$grid-gutter-width} * 0.5);
        }
    }
}

.btn-icon.layout-rightside-btn {

    @media (max-width: 1699.98px) {
        left: 80px;
        right: auto;
    }
}

[data-layout="horizontal"],
[data-layout-style=detached] {
    @media (min-width: 1700px) {
        .layout-rightside {
            margin-left: 0;
            margin-right: auto;
        }
    }
}

#back-to-top {
    left: 28px; 
    right: auto; 
}