<div class="row">

  <ng-container *ngFor="let group of groupedCards" class="">
    <div class="col-md-12 mt-2    mb-0">

      <div class="card-group">
        <div (click)="card.isSpecial ? null : navigate(card.url)" *ngFor="let card of group"
             [style.background]="card.isSpecial ? '#00171a!important' : card.backgroundColor"
             [style.cursor]="card.isSpecial ? 'not-allowed' : 'pointer'"
             class="card cardItem align-items-center m-1 p-0 border-0">
          <div class="card-body d-flex flex-column justify-content-center align-items-center"
               style="">
            <img [src]="card.imageUrl" alt="Card image" class="mx-auto d-block mb-2 text-center"
                 style="width:30px; ">
            <p [style.color]="card.isSpecial ? '#8f8989' : 'white'"
               class="card-text-xc fs-12 text-center">{{ card.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>


